@import "./normalize/_normalize.scss"

/** Daniel Chumak | uncrustify_config v0.1.0 | GPLv2+ License 
    github.com/CDanU/uncrustify_config */

//------------------------------------------------------------------------------

$optionMenuWidth: (str-length("trail_force")+1)+ch

$menuWidth: 300px
$navHeight: 30px
$headerHeight: 20px
$footerHeight: 20px
$menuColor: #04252e
$menuColor2: darken( $menuColor, 2% )
$textarea_Background : $menuColor

$mainBackground: #3d3d3d

$header_Background: darken( $mainBackground, 8)

$tabRadius: 9px 9px 0 0

$tabBackground_BorderColor : #000
$tabBackground_BackgroundColors : #394039, #313731
$tabBackground_Background : linear-gradient( nth($tabBackground_BackgroundColors, 1), nth($tabBackground_BackgroundColors, 2))

$tab_BorderColor : #000
$tab_Background : transparent
$tabActive_BackgroundColors : #4d564c, #424a41
$tabActive_Background : linear-gradient( nth($tabActive_BackgroundColors, 1), nth($tabActive_BackgroundColors, 2))
$tabHover_Color : #0F0
$tabHover_BorderColor : transparent

$outTab_Background :       mix( nth($tabBackground_BackgroundColors,1), #050 )
$outTabActive_Background : mix( nth($tabActive_BackgroundColors,1), #050 )



// mixin -----------------------------------------------------------------------
=tabBackground()
  border: 1px solid $tabBackground_BorderColor
  border-radius: $tabRadius
  background: $tabBackground_Background

=tab()
  color: #fff
  border: 1px solid $tab_BorderColor
  border-radius: $tabRadius
  background: $tab_Background
  &:hover
    border-color: $tabHover_BorderColor
    color: $tabHover_Color
  &.active
    background: $tabActive_Background
    border-color: #555

//------------------------------------------------------------------------------

body
  height: 100%
  overflow: hidden
  display: flex
  flex-direction: column
  background-color: $mainBackground
  color: #eee


header
  width: 100%
  height: $headerHeight


footer
  width: 100%
  height: $footerHeight


// lets a given width equally look on both elements
input,select
  box-sizing: border-box


input
  padding-left: 3px


textarea
  border: 6px solid #333
  padding: 10px
  color: #eee
  background: $textarea_Background
  white-space: pre
  word-wrap: normal


h3
  background: $header_Background
  margin: 0
  padding: 10px


nav.top
  width: 100%
  height: $navHeight
  display: flex
  font-size: 25px
  +tabBackground()

  div
    flex: 1
    text-align: center
    +tab()

    &.out
      background : $outTab_Background
    &.out
      &.active
        background: $outTabActive_Background

#orientationBtn
  cursor: pointer
  height: 25px
  border: 1px solid black
  padding: 5px
  background-color: lighten($header_Background, 2%)

  &:hover
    background-color: lighten($header_Background, 4%)

  &.rotate
    transform: rotate(90deg)


#mainBox
  flex: 0 0 calc( 99.5vh - #{$navHeight + $headerHeight + $footerHeight})
  overflow: hidden

  display: flex
  flex-flow: row nowrap


.tabContainer
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace
  display: none
  flex: 1
  flex-flow: column nowrap

  textarea
    font-family: inherit
    flex: 1

#tab0
  display: flex


#tab1
  flex-flow: row nowrap

  textarea
    flex: 0 0 auto


#tab3
  flex-flow: row nowrap
  &.rotate
    flex-flow: column nowrap

  
#exampleEditorBox
  flex: 1


#configMenuBox
  flex: 0 0 auto
  //min-width: 600px
  color: #FFF
  background-color: $menuColor
  overflow-y: scroll

  label
    font-size: 10pt
    display: inline-block
    overflow: hidden
    text-overflow: ellipsis
    // extra heigh for input && select + text centering
    padding : .35rem 0
    // shrinks li parent elem that is too big
    margin-bottom: -5px

  input
    width: $optionMenuWidth
  input[type=checkbox]
    width: auto
    margin-top : .35rem
    margin-bottom : .35rem
  select
    width: $optionMenuWidth
  ul
    padding : 0 0 0 10px
    > li
      > input, > select
        float: right
        margin-left: 5px
        margin-right: 15px
  li
    list-style: none
    border-bottom: 1px dashed lighten( $menuColor, 5% )
    //overflow: auto // used to take height from child elem inputs

    ul
      border-top: 1px dashed lighten( $menuColor, 5% )
      padding: 10px 0 10px 35px
      margin-bottom: 5px
      margin-left: -10px


.captionBox
  background: $header_Background
  display: flex
  align-items: center


.captionOptionBox
  margin-left: auto

  label
    margin: 0 5px 0 25px


.flex-column
  display: flex
  flex: 1
  flex-flow: column nowrap


.dependenciesList
  background-color: $menuColor2


.inline
  display: inline-block
